body {
  font-family: Arial, sans-serif;
  background-color: #d2c1da;
  margin: 0;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-logo img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

h1 {
  color: #333;
  margin-top: 50px;
}

.description-container {
  width: 50%;
  color: #100429;
  font-weight: bold;
}

.upload-container {
  display: inline-block;
  width: 50%;
  margin-top: 1rem;
}

.drag-and-drop {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 30px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.drag-and-drop.dragging {
  background-color: #e9ecef;
  border-color: #007bff;
}

.drag-and-drop p {
  margin: 0;
  color: #666;
}

.drag-and-drop .browse {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.primary-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #100429;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary-button:hover {
  background-color: #452983;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.clear-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #999;
  cursor: pointer;
  display: block;
}

.clear-btn:hover {
  color: #ff0000;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-message {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.choice-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.choice-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.upload-container,
.camera-container {
  margin-top: 20px;
}

#camera-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: 1px solid #100429;
  padding: 5px;
  border-radius: 5px;
}

#camera-feed {
  max-width: 100%;
  border: 1px solid #ccc;
}

[hidden] {
  display: none !important;
}

.default-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #84818d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 999px) {
  .main-logo img {
    height: 150px;
    width: 150px;
  }

  .description-container {
    width: 90%;
  }

  .upload-container {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .main-logo img {
    height: 100px;
    width: 100px;
  }
}
